
/*文章的整体背景，渐变色设置*/
/*#web_bg {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff1eb), to(#ace0f9));
    background-image: -o-linear-gradient(bottom, #fff1eb 0%, #ace0f9 100%);
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    #background: #FFEFBA;
    #background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    #background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: #2BC0E4;
    background: -webkit-gradient(linear, left top, right top, from(#EAECC6), to(#2BC0E4));
    background: -o-linear-gradient(left, #EAECC6, #2BC0E4);
    background: linear-gradient(to right, #EAECC6, #2BC0E4);*/

/*文章的整体背景*/
/*#web_bg {
    background-image: url("/img/background.png"), 
    linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), 
    }
}*/

/* 页脚主色设置 */
#footer{
    background: transparent!important;
    /*background: rgba(57, 197, 187, 0.6) !important;*/
}
[data-theme="dark"] #footer {
    background: transparent!important;
    /*background: rgba(0, 0, 0, 0.4) !important;*/
}

#footer-wrap{
    /*background: transparent!important;
    color: rgba(0,0,0,1) !important;*/
}
[data-theme="dark"] #footer-warp {
    color: rgba(255, 255, 255, 1.0) !important;
}

/* 头图透明 
#page-header{
  background: transparent!important;
}*/

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 
#page-header.post-bg:before {
  background-color: transparent!important;
}*/

/*夜间模式伪类遮罩层透明
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
*/

/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度 */
    background: rgba(255, 255, 255, .9);
}

/*侧边栏页面*/
#aside-content>.card-widget {
    background: rgba(255, 255, 255, .9);
}

#aside-content>.sticky_layout>.card-widget {
    background: rgba(255, 255, 255, .9);
}

/*文章页面*/
.layout>#post {
    background: rgba(255, 255, 255, .9);
}

/*分类页面*/
.layout>#page {

    background: rgba(255, 255, 255, .9);
}

/*时间轴页面*/
.layout>#archive {
    background: rgba(255, 255, 255, .9);
}

/*动态渐变
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

/*全局背景渐变
#web_bg {
    background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #66CCFF, #23d5ab);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #66CCFF, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 15s ease infinite;
            animation: gradientBG 15s ease infinite;
}*/

/*深色配置*/
:root {
    --trans-light: rgba(255, 255, 255, 0.9);
    --trans-dark: rgba(25, 25, 25, 0.8);
    --border-style: 1px solid rgb(170, 170, 170);
    --backdrop-filter: blur(5px) saturate(150%);
  }
  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
    background: var(--trans-light);
    border-radius: 25px;
    border: var(--border-style);
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
    background: var(--trans-light);
    border-radius: 18px;
    border: var(--border-style);
  }
  
  /* 文章页、归档页、普通页面 */
  div#post,
  div#page,
  div#archive {
    background: var(--trans-light);
    border: var(--border-style);
    border-radius: 20px;
    --border-style: 2px solid rgba(57, 197, 187, 0.9);
  }

  
  /* 导航栏 */
  #page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.9);
  }
  
  [data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
  }
  
  /* 夜间模式遮罩 */
  [data-theme="dark"] #recent-posts > .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
    background: var(--trans-dark);
  }
  
  
  /* 夜间模式页脚页头遮罩透明 
  [data-theme="dark"] #footer::before {
    background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
    background: transparent !important;
  }*/
  
  /* 阅读模式 */
  .read-mode{
    background: rgba(225, 217, 202, 0.9);
  }
  .read-mode div#post {
    background: rgba(225, 217, 202, 0.0) !important;
    border: transparent;
  }
  .read-mode #aside-content .card-widget {
    background: rgba(57, 197, 187, 0.4) !important;
  }
  
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode{
    background: rgba(25, 25, 25, 0.9);
  }
  [data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.0) !important;
    color: #ffffff;
  }
  [data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.6) !important;
    color: #ffffff;
  }


/*背景流星*/
#universe {  
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
/* 亮色模式下隐藏 */
[data-theme='light'] #universe {
    display: none;
}

/*aplayer美化*/
/*参考https://blog.saop.cc/p/8dc9/*/
/* Aplayer日间模式调整 */
/* 背景色 */
.aplayer {
  background: rgba(255, 255, 255, 0.80) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, .1);
  position: relative;
}

.aplayer.aplayer-fixed .aplayer-lrc:after,
.aplayer.aplayer-fixed .aplayer-lrc:before {
  display: none;
}

.aplayer.aplayer.aplayer-fixed .aplayer-body {
  background: rgba(255, 255, 255, 0.80) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 1px 5px 0 rgba(0, 0, 0, .1);
  position: fixed;
}

/* 滚动条 */
.aplayer .aplayer-list ol::-webkit-scrollbar {
  width: 5px;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--theme-color) !important;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color) !important;
}

/* 圆角 */
.aplayer.aplayer-fixed .aplayer-list {
  border-radius: 6px 6px 0 0 !important;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
  border-radius: 0 6px 6px 0 !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  transition: 0.28s !important;
  border-radius: 6px !important;
}

/* 选中与播放中歌曲激活颜色 */
.aplayer .aplayer-list ol li:hover {
  background: var(--theme-color) !important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
  background: var(--theme-color) !important;
}

/* 歌词 */
.aplayer-lrc p {
  color: #ffffff !important;
  text-shadow: #000000 0.6px 0 0, #000000 0 0.6px 0, #000000 -0.6px 0 0, #000000 0 -0.6px 0 !important;
}

/* Aplayer黑暗模式 */
[data-theme=dark] .aplayer {
  background: rgba(22, 22, 22, 0.80) !important;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 1px 5px 0 rgba(0, 0, 0, .1);
}

[data-theme=dark] .aplayer.aplayer-fixed .aplayer-body {
  background: rgba(22, 22, 22, 0.80) !important;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 1px 5px 0 rgba(0, 0, 0, .1);
}

[data-theme=dark] .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
  fill: #d4d4d4;
}

[data-theme=dark] .aplayer .aplayer-list ol li:hover {
  background: var(--theme-color) !important;
}

[data-theme=dark] .aplayer .aplayer-list ol li.aplayer-list-light {
  background: var(--theme-color) !important;
}

[data-theme=dark] .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: #d4d4d4;
}

[data-theme=dark] .aplayer .aplayer-list ol li .aplayer-list-index {
  color: #d4d4d4;
}

[data-theme=dark] .aplayer .aplayer-list ol li .aplayer-list-author {
  color: #d4d4d4;
}

/* Artitalk长代码溢出 */
/* 字符串强制换行，防止溢出 */
#artitalk_main #shuoshuo_content{
  padding:10px !important;
  word-break: break-all;
  word-wrap:break-word;
}
/* 字符串强制换行，防止溢出 
#artitalk_main #shuoshuo_content{
  padding:10px !important;
  word-break: break-all;
}*/
/* 给  pre 代码块加滚动条，防止溢出 
#artitalk_main span.cbp_tmlabel{
  max-width: 100%;
}*/
/* 超出 max-width 时加滚轮 
#artitalk_main span.cbp_tmlabel pre {
  overflow-x: auto; 
}*/

/* audio标签美化部分 */
audio {
    width: 100%; /* 宽度为100% */
    height: 50px; /* 高度为50px */
    /* border-radius: 10px; 边框半径为10px */
}

/* 设置音频播放进度条的颜色
audio::-webkit-media-controls-progress-bar {
    background-color: rgba(0, 0, 0, 0.5);
} */
/* 隐藏音频播放器的背景颜色 */
audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}
[data-theme=dark] audio::-webkit-media-controls-enclosure {
    /* background-color: transparent; */
    background-color: rgba(255,255,255,0.5);
    color: #FFFFFF;
    border-radius: 5px;
}